@font-face {
    font-family: "Cormorant_Garamond_Regular";
    src: url(../tipografias/CormorantGaramond-Regular.ttf) format("truetype");
}

.footer_div{
    background-color: #dcd2c5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 20px;
}

.link_to_home_footer img{
    width: 70px;
    padding-block: 20px;
}

.footer_info_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer_info_texts{
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}

.footer_info_texts p{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 12px;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.footer_social_medias{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.footer_social_medias a{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 12px;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-block: 5px;
}
