
@font-face {
    font-family: "Cormorant_Garamond_Regular";
    src: url(../tipografias/CormorantGaramond-Regular.ttf) format("truetype");
}

body{
    margin: 0;
    padding: 0;
}

.div_main_container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo_efimera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.imagen_portada{
    width: 100%;
    filter: brightness(50%);
}

.descript_efimera{
    background-color: #EBE6E0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.descript_efimera p{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 13px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    line-height: 1.5;
    width: 60%;
    padding-block: 20px;
    text-transform: uppercase;
}

.services_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-block: 20px;
}

.service_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service_box p{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 13px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    line-height: 1.5;
    width: 60%;
    padding-block: 20px;
    text-transform: uppercase;
}

.service_box img{
    width: 50px;
    padding-inline: 190px;
}

.offers_container{
    background-color: #EBE6E0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-block: 50px;
}

.offers_container img{
    width: 40%;
}

.div_offers_text{
    padding-left: 20px;
}

.div_offers_text h2{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 30px;
    color: black;
    letter-spacing: 5px;
    line-height: 1.5;
    text-transform: uppercase;
}

.list_offers{
    width: 90%;
}

.list_offers li{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 13px;
    color: black;
    letter-spacing: 5px;
    line-height: 1.5;
    padding-block: 30px;
    text-transform: uppercase;
}

/* NUESTROS PROYECTOS: */
.projects_preview_home{
    background-color: #EBE6E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects_preview_home h1{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 30px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.project_home_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project_block_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-inline: 15px;
}

.project_block_home img{
    width: 500px;
}

.link_to_project_home{
    position: absolute;
    bottom: 0;
    text-decoration: none;
}

.link_to_project_home button{
    background-color: rgba(235, 230, 224, 0.8);
    border-color: black;
    border-radius: 20px;
    font-family: "Cormorant_Garamond_Regular";
    font-size: 15px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-block: 10px;
    width: 200px;
    cursor: pointer;
}

.link_to_project_home button:hover{
    background-color: rgba(220, 215, 209, 0.8);
}

.link_to_project_home button:active{
    background-color: rgba(255, 255, 255, 0.8);
}

.see_more_projects{
    padding-block: 30px;
}

.link_ver_mas_proyectos{
    text-decoration: none;
}

.see_more_projects{
    padding-block: 50px;
}

.link_ver_mas_proyectos button{
    background-color: transparent;
    font-family: "Cormorant_Garamond_Regular";
    font-size: 13px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 300px;
    border-color: black;
    border-radius: 20px;
    padding-block: 10px;
    cursor: pointer;
}

.link_ver_mas_proyectos button:hover{
    background-color: #dcd7d1;
}

.link_ver_mas_proyectos button:active{
    background-color: white;
}
  
  
