@font-face {
    font-family: "Cormorant_Garamond_Regular";
    src: url(../tipografias/CormorantGaramond-Regular.ttf) format("truetype");
}

.efimera_navbar{
    background-color: rgba(235, 230, 224, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.efimera_navbar img{
    width: 45px;
    padding: 15px;
}

.div_nav_links{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.div_nav_links a{
    text-decoration: none;
    font-family: "Cormorant_Garamond_Regular";
    font-size: 13px;
    color: white;
    padding-inline: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.div_social_medias{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.div_social_medias a{
    padding-inline: 20px;
}

.link_icon img{
    filter: brightness(0) invert(0.8);
    width: 15px;
}
