
@font-face {
    font-family: "Cormorant_Garamond_Regular";
    src: url(../tipografias/CormorantGaramond-Regular.ttf) format("truetype");
}

.div_portada_proyectos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_proyectos{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #504a4a;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* ESTILOS DE LOS BLOQUES DE PROYECTOS: */
.div_proyectos_main_container{
    background-color: #EBE6E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_proyectos_main_container h1{
    font-family: "Cormorant_Garamond_Regular";
    font-size: 20px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-block: 50px;
}

.div_inline_proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-block: 15px;
}

.block_proyectos_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-inline: 15px;
}

.block_proyectos_div img{
    width: 500px;
}

.link_to_proyecto{
    position: absolute;
    bottom: 0;
}

.link_to_proyecto button{
    background-color: rgba(235, 230, 224, 0.8);
    border-color: black;
    border-radius: 20px;
    font-family: "Cormorant_Garamond_Regular";
    font-size: 15px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-block: 10px;
    width: 200px;
    cursor: pointer;
}

.link_to_proyecto button:hover{
    background-color: rgba(220, 215, 209, 0.8);
}

.link_to_proyecto button:active{
    background-color: rgba(255, 255, 255, 0.8);
}
